*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}
.padre{
    background: #2c3333;
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: url(nate-grant-QQ9LainS6tI-unsplash.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
            .logo{
                flex: 1 1 auto;
            }
                .logo a{
                    color:#f4f5f8;
                    text-decoration: none;
                }
                .logo a:hover{
                    color: #2E4F4F;
                }
            .nav{
                
                flex: 5 1 auto;
            }
            .social{
                
                flex: 1 1 auto;
                display: flex;
            }
        .texto-principal{
            background: #CBE4DE;
        }
            h1{
                background: #cdd8d6;
            }
    .section{
        background: #2E4F4F;
        display: flex;
    }
        .articulos{
            background: #678983;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
        .article{
            background: #E6DDC4;
            flex: 1 1 40%;
        }
        .navegacion{
            background: #609EA2;
            flex: 1 1 100%;
        }
    .aside{
        background: #58bfb1;
        flex: 1 1 auto;
    }
        .publicidad{
            background: #275865;
        }
    .footer{
        background: #2E4F4F;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #7DB9B6;
            width: 300px;
        }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}
